* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

button {
  background-origin: #ccc;
  padding: 1rem;
}
.btn-primary {
  background-color: steelblue;
  color: #fff;
}

.btn-danger {
  background-color: red;
  color: #fff;
}

.btn-success {
  background-color: green;
  color: #fff;
}

.flex-box {
  display: flex;
  gap: 2rem;
}
